.item-posicao{
    width: 6%;
    height:100%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size:40px;
    color:white;
}

.item-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    color:darkslategray;
}

.item{
    width: 100%;
    display: flex;
    margin-top: 20px;
    height: 14vh;
    align-items: center;
    background-color: white;
    font-size:20px;
}